body { background: #f5f7f9; }
body { background: url(/images/Ubuntu12.04.jpg);}

@import "_layout.styl";
@import "_logo.styl";
@import "_menu.styl";
@import "_search.styl";
@import "sidebar/sidebar-blogroll";
